# Should be list of everything not ignored
*

!tconfig.py
!toolbox.py
!tpfit.py
!compare.py
!test.sh
!.gitignore
!README.md
!LICENSE

!/images/
/images/*
!/images/example_image.fits

!/input_files/
/input_files/*
!/input_files/example_input.py

!/output/
/output/**
!/output/example/
!/output/example/.placeholder

!/priors_catalogs/
/priors_catalogs/*
!/priors_catalogs/example_priors.fits

!/psfs/
/psfs/*
!/psfs/example_psf.fits
